@import '../../global-styles/margin';
@import '../../global-styles/buttons';
@import '../../global-styles/margin';

.shop {
  text-align: center;
  // background: $background;
  padding-top: 1rem;
  font-family: 'Open Sans', futura, sans-serif;
}

.albums-container {
  display: flex;
  width: 100%;
  max-width: $global-max-width;
  padding-left: 15vw;
  margin-bottom: 3rem;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  .album {
    width: 100%;
    margin-right: 1.2rem;
    .overlay {
      display: none;
    }
    img {
      object-fit: contain;
      width: 70vw;
    }
    .caption {
      .album-info-sub {
        display: none;
      }
    }
    &:last-child {
      padding-right: 15vw;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.visit-webshop {
  @include button-black;
  margin-top: 3rem; 
  margin-bottom: 3rem; 
  text-decoration: none;
}


// Media Queries
@media screen and (min-width: 481px) {
  .albums-container {
    padding-left: 1rem;
    .album {
      img {
        max-width: 300px;
      }
      &:last-child {
        padding-right: 1rem;
      }
    }
  }
}

@media screen and (min-width: 897px) {
  .shop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .albums-container {
    // display: grid;
    // grid-template-columns: repeat(2, auto);
    // grid-gap: 1rem;
    // width: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    .album {
      position: relative;
      width: fit-content;
      margin-right: 0;
      height: fit-content;
      max-height: 300px;
      margin: 1rem;
      .caption .album-info-sub {
        display: block;
        font-size: .8rem;
      }
      &:hover {
        img, 
        .overlay {
          opacity: 1;
          transform: scale(.8);
        }
        .caption {
          opacity: 1;
        }
      }
      img {
        transition: all .3s; 
      }
      .overlay {
        display: block;
        opacity: 0;
        position: absolute;
        background: rgba(0,0,0,.82);
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        transition: all .3s; 
      }
      .caption {
        opacity: 0;
        transition: all .3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        z-index: 1;
        color: white;
        height: 100%;
        width: 100%;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .album-info {
          font-size: .8rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        .album-title {
          // font-size: .9rem;
          font-weight: 800;
        }
      }
      &:last-child {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
  .albums-container {
    .album {
      max-height: 300px;
      .overlay {
        display: none;
      }
      img {
        object-fit: contain;
        width: 27vw;
      }
      .caption {
        .album-info-sub {
          display: none;
        }
      }
    }
  }
  .visit-webshop {
    font-size: 1rem;
  }
}