@import '../../global-styles/margin';
@import '../../global-styles/buttons';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $background;
  padding-top: .5rem;
  margin-top: 3rem;
  .about-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.about-article {
  margin: 0 1rem;
  margin-bottom: 3rem;
  font-family: 'Open Sans', futura, sans-serif;
  .title-aligned {
    display: none;
  }
}

// Scollable photo carousel 
.photo-container {
  display: flex;
  height: 100%;
  width: 100%;
  background: black;
  padding: .6rem 0;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  img {
    object-fit: contain;
    margin-right: .6rem;
    max-height: 168px;
  }
}

button.more-photos {
  @include button-black;
  margin-top: 3rem; 
  margin-bottom: 2rem; 
}

// Media Queries
@media screen and (min-width: 897px) {
  .about {
    margin-top: 0;
    .about-content-wrapper {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      .about-article {
        max-width: 280px;
        margin-right: 3rem;
      }
      .photo-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        grid-gap: .5rem;
        overflow-x: initial;
        overflow-y: initial;
        background: none;
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          margin: 0;
          transition: transform .29s ease;
          &:last-child {
            display: none;
          }
          &:hover {
            cursor: pointer;
            transform: scale(1.04);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .about {
    .title-normal {
      display: none;
    }
    .about-content-wrapper {
      .about-article {
        margin-bottom: 0;
        .title-aligned {
          display: block;
          margin: 0;
          margin-bottom: 1rem;
        }
      }
      .photo-container {
        margin-top: 7rem;
        grid-template-columns: repeat(3, 1fr);
        img:last-child {
          display: block;
        }
      } 
    }
  }
}

@media screen and (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
  .about-article {
    margin: 0 3rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
  }
}