@import '../../global-styles/colors';

.side-drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: $main-black;
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  max-width: 300px;
  z-index: 200;
  transform: translateX(100%);
  transition: transform .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.side-drawer.hidden {
  display: none;
}

.side-drawer.visible {
  transform: translateX(0);
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
}

.side-drawer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%;
  list-style: none;
  font-size: 1.5rem;
  padding: 0 2rem;
}


.side-drawer li {
  vertical-align: center;
  font-family: 'Open Sans', futura, sans-serif;
  text-decoration: none;
  font-weight: 800;
  color: white;
  span {
    padding-bottom: .2rem;
  }
  &:hover,
  &:active {
    cursor: pointer;
    span {
      border-bottom: 5px solid rgba(255,255,255,1);
    }
  } 
}

.line-divider {
  height: 5px;
  width: 100%;
  background: white;
}

.side-drawer-socials-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  a {
    // background: red;
    padding: 0 .5rem .5rem .5rem;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

// Media Queries

// Mobile Landscape
@media screen and (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
  .side-drawer ul {
    height: 88%;
  }
}

// Tablet Portrait
@media screen and (min-width: 768px) and (orientation: portrait) {
  .side-drawer ul {
    height: 40%;
  }
}  